<?xml version="1.0" ?>
<model>
  <name>Mat</name>
  <version>0.1</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Sidy THIAW</name>
    <email>sidy.thiaw@etu.univ-smb.com</email>
  </author>
  <description>A modified mat based on the Eurobot 2026 mat</description>
</model>