slam_toolbox:
  ros__parameters:

    # temps simu (très important en Gazebo)
    use_sim_time: true

    # Frames
    map_frame: map
    odom_frame: simple_robot/odom
    base_frame: simple_robot/chassis

    # LiDAR
    scan_topic: /scan
    # mode: mapping
    mode: localization   # on fait de la localisation seule

    # Carte à charger (doit être lancée depuis la racine du workspace)
    map_file_name: mymap.yaml

    # Fréquences / TF
    transform_publish_period: 0.05    # 20 Hz
    tf_buffer_duration: 30.0

    # Carte
    resolution: 0.05                  # 5 cm
    min_laser_range: 0.12             # correspond au LiDAR GZ
    max_laser_range: 6.0              # idem
    minimum_travel_distance: 0.1
    minimum_travel_heading: 0.17
    map_update_interval: 2.0

    # Options raisonnables pour débuter
    enable_interactive_mode: false
    publish_period: 1.0
