slam_toolbox:
  ros__parameters:

    # --- TEMPS & SYNCHRO (CRITIQUE) ---
    use_sim_time: true
    transform_publish_period: 0.05   # 20 Hz
    tf_buffer_duration: 30.0
    transform_timeout: 0.2           # Tolérance augmentée pour la simu

    # --- FRAMES (Validés par votre TF Tree) ---
    map_frame: map
    odom_frame: simple_robot/odom
    base_frame: simple_robot/chassis
    scan_topic: /scan
    mode: mapping

    # --- LIDAR (Adapté à votre modèle SDF) ---
    # Votre SDF dit : min=0.12, max=12.0
    min_laser_range: 0.12
    max_laser_range: 12.0
    
    # --- CARTE & PERFORMANCE ---
    resolution: 0.05                 # 5 cm par pixel
    map_update_interval: 0.5         # Mise à jour 2 fois/sec
    minimum_travel_distance: 0.1
    minimum_travel_heading: 0.17
    
    # Options pour économiser du CPU
    enable_interactive_mode: false
    publish_period: 1.0

    # --- SOLVER (STABILISATION) ---
    # Ces lignes sont essentielles pour éviter que la carte ne "saute"
    solver_plugin: solver_plugins::CeresSolver
    ceres_linear_solver: SPARSE_NORMAL_CHOLESKY
    ceres_preconditioner: SCHUR_JACOBI
    ceres_trust_strategy: LEVENBERG_MARQUARDT